*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
    
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%; 
    margin: 5px;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
}.nav-links a:hover{
    color: #AE6378;
}.nav-links a:active{
    color:white;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:black;
    margin: 5px;
}


@media screen and (max-width:1024px){
    .nav-links{
    width: 60%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color: #EEEEEE; 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(150%);
        transition: transform 0.5s ease-in;
        
    }
   
    
    .burger{
        display: block;
    }
}

.nav-links.active{
    transform: translateX(0%);
    z-index: 10000;
    
}
/*------------*/


#home{
    width: 100%;
    height: auto;
    background: linear-gradient(-45deg,#AE6378,#D87F81,#EAB595);
    background-size: 200% 200%;
   animation: Gradient 5s ease infinite;
    
}@-webkit-keyframes Gradient{
    0%{
        background-position: 0% 50%
    }
    50%{
        background-position: 100% 50% 
    }
    100%{
        background-position: 0% 50%
    }
}
#home img{
    align-items: center;
    justify-content: center;
    width: 25%;
    height: auto;
    margin: 70px 37.5% 70px 37.5%;
    
}


#bio{
    margin-top: 50px;
    margin-bottom: 50px;
}
.row{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bio-pic{
    
    margin: 30px 0 0 20px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#bio-txt{
    width: 70%;
    background: #EEEEEE;
    margin:-130px 15% 0 15%;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
#bio-txt hr{
    width: 70%;
    height: 0.1px;
    background-color: #D87F81;
    margin: auto;
    align-items: center;
}
#bio img{
    width: 30%;
    height: auto;
    border-radius: 60%;
    margin: 30px;
    
}
#bio h1{
   font-family: 'Courgette', cursive;
    margin: 80px 0 0 10px;
    color:#D87F81;

    font-size: 50px;
   
    
}
#bio p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin: 20px;
    padding: 40px;
}
#bio a i{
    font-size: 40px;
    color: #D87F81;
    margin: 1em;
}
#bio a i:hover{
    color: black;
}#bio a i:active{
    color: white;
}

#contacto{
    width: 100%;
    height: 600px;
    background: linear-gradient(-45deg,#D87F81,#EAB595);
    background-size: 200% 200%;
   animation: Gradient 5s ease infinite;
    align-items: center;
    justify-content: space-around;
}




.btnimp3{
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: #262626;
    border-radius: 20px;
    border: 2px solid #262626;
    font-family: 'Poppins', sans-serif;
    margin: 40px;
    text-transform: uppercase;
    
}
.btnimp3:hover{
    background: linear-gradient(-45deg,#D87F81,#EAB595);
    color: white;
    border: 2px solid white;
    transition: 0.5s;
    
}
.barraform{
    width: 90%;
    height: 40px;
    margin: 20px;
    border-radius: 20px;
    
}
.card{
    background: #EEEEEE;
    border: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    width: 18rem;
    height: 400px;
    text-align: center;
    border-radius: 0px;
}

.card i{
    
    font-size: 50px;
    margin: 25px 0 20px 0;
    color: #262626;
}.card i:hover{
    color:#D87F81;
}
.card ul{
    list-style: none;
    padding: 0;
}
.card-body{
    width: 100%;
    padding: 0px;
}

.card-title{
     line-height: 40px;
    font-size: 40px;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
    font-family: 'Courgette', cursive;
    margin: 40px;
    display: block;
   
}



#footer{
    width: 100%;
    height: 50px;
    background: linear-gradient(-45deg,#D87F81,#EAB595);
    background-size: 200% 200%;
    border-top: 2px solid #262626;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#footer p{
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #262626;
    margin: 15px;
    display: block;
}
#footer a{
    color: #262626;
    text-decoration: none;
}
#footer a:hover{
    color: white;
}

.texto-vertical-3 {
  writing-mode: vertical-lr;
    transform: rotate(180deg);
}


background-color:  rgb(9,101,120);
background-color:  rgb(17,40,90); fuerte
background-color:  rgb(254,152,144);  claro
background-color:  rgb(194, 7, 87);  color fuerte
font-family: 'Notable', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Monoton', cursive;